.main-canvas {
  border: 1px solid black;
  position: relative;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.stage-controls {
  display: flex;
  justify-content: center;
}

.stage-controls > button {
  margin: 10px
}

@media (min-width: 480px) {

}

